.backButtonFilm {
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    display: block;
    margin-bottom: 15px;
}

.backButtonFilm:hover {
    text-shadow: 1px 1px 2px #0000004a;
}

.detailWrapper {
    text-align: left
}

.customTableFilm, .customTDFilm {
    border: 1px solid #ddd;
    text-align: center;
}

.customTableFilm {
    border-collapse: collapse;
    width: 100%;
}

.customTDFilm {
    padding: 15px;
}

.customTRFilm:nth-child(odd) .customTDFilm {
    background: #f3f3f3;
}